:root {
    --highlight-color: white;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
    width: 100%;
    background-color: white;
  }
  header h1 {
    color: black;
    text-shadow: 2px 0 2px pink, -2px 0 2px purple;
    cursor: pointer;
  }
  header img {
    height: 7vh;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
  }
  #account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
  }