:root {
    --highlight-color: white;
    --background-color: black;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
    width: 100%;
    background-color: var(--highlight-color);
    transition: background-color 0.4s ease;
  }
  header h1 {
    color: var(--background-color);
    text-shadow: 2px 0 2px pink, -2px 0 2px purple;
    cursor: pointer;
    transition: color 0.4s ease;
  }
  header a{
    text-decoration: none;
  }
  header img {
    height: 7vh;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
  }
  #account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
  }
  #mode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
  }
  #modeButton {
    cursor: pointer;
    background: url("../assets/theme_icon.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    height: 5vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.4s ease;
    border-radius: 50%;
  }
  #modeText {
    color: var(--background-color);
    font-size: 2vh;
    font-weight: bold;
  }
  #modeSwitch {
    display: none;
  }
  .dark{
    transform: rotate(0deg);
  }
  .light {
    transform: rotate(180deg);
  }
