  main{
    background-color: rgb(23, 23, 23);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  main>div{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main>div>img{
    height: auto;
    width: 50%;
  }