*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
    width: 100%;
    background-color: white;
}
header h1{
    color: black;
    text-shadow: 2px 0 2px pink,
                -2px 0 2px purple;
}
header img{
    height: 7vh;
    width: auto;
}
main{
    background-color: black;
    height: 100vh;
    width: 100%;
}
#searchbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5vh;
    width: 30vw;
    height: 8vh;
}
#searchbar>input{
    border: none;
    padding: 10px;
    border-radius: 5vh;
    width: 70%;
    border-left: none;
    font-size: 2.5vh;
}
#searchbar>input:focus{
    outline: none;
}
#searchbar>button{
    border: none;
    border-radius: 5vh;
    width: 30%;
    background-color: black;
    color: pink;
    cursor: pointer;
}